<!--div class="container-fluid" >
	<div class="row-fluid">
		<div class="col-md-12">
			<slideshow-lazy image-data="imageData"> </slideshow-lazy>
		</div>
	</div>
</div>
-->


  <div class="jumbotron opacity80" ng-controller="SlideshowCtrl">
  <h2>Bilder</h2>
  <p class="lead">
    Einige Impressionen aus unserer Ferienwohnung
  </p>
  
</div>

<div class="container" ng-controller="SlideshowCtrl">
<div class="well opacity80">
	<slideshow-lazy image-data="imageData" class="center">
 	</slideshow-lazy>
  </div>
</div>

    
</body>
