<div class="jumbotron opacity80" ng-controller="SlideshowCtrl">
  <h2>Bilder</h2>
  <p class="lead">
    Einige Impressionen aus unserem Ferienhaus.
  </p>
  
</div>

<div class="container" ng-controller="SlideshowCtrl">
<div class="well opacity80">

	<slick lazy-load='ondemand' slides-to-show=1 slides-to-scroll=1 class="slider lazy" dots="true" mobileFirst="true" speed="500" adaptiveHeight="true">
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_01.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_02.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_03.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_04.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_05.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_06.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_07.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_08.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_09.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_10.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_11.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_12.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_13.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_14.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_15.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_16.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_17.jpg"/></div></div>
      <div><div class="image"><img class="img-responsive" data-lazy="images/img_18.jpg"/></div></div>
    </slick>
	</div>
</div>    
</body>
