<div class="jumbotron opacity80" ng-controller="SlideshowCtrl">
  <h2>Bilder</h2>
  <p class="lead">
    Einige Impressionen aus unserem Ferienhaus.
  </p>
  
</div>

<div class="container" ng-controller="SlideshowCtrl">
<div class="well opacity80">
	<!--<slideshow-lazy image-data="imageData" class="center">
 	</slideshow-lazy>-->
	
	<slick lazy-load='ondemand' slides-to-show=3 slides-to-scroll=1 class="slider lazy">
      <div><div class="image"><img data-lazy="images/img_01.jpg"/></div></div>
      <div><div class="image"><img data-lazy="images/img_02.jpg"/></div></div>
      <div><div class="image"><img data-lazy="images/img_03.jpg"/></div></div>
      <div><div class="image"><img data-lazy="images/img_04.jpg"/></div></div>
      <div><div class="image"><img data-lazy="images/img_05.jpg"/></div></div>
      <div><div class="image"><img data-lazy="images/img_06.jpg"/></div></div>
    </slick>
	
	
  </div>
</div>

    
</body>
