<div class="jumbotron opacity80">
  <h2>Das Haus</h2>
  <p class="lead">
    Informationen über die gemütliche Ferienhaus JERK auf Ameland.
  </p>
  
</div>

<div class="container">
<div class="well opacity80">

  	<p>
  		JERK ist ein freistehendes Ferienhaus auf der Nordseeinsel Ameland in den Niederlanden. Das Ferienhaus befindet sich am Zwarteweg nahe Buren/Nes.
  	</p>
  	<p>
  		JERK ist mit viel Sorgfalt und Liebe zum Detail eingerichtet. Es verfügt über drei Schlafzimmer und zwei Duschbäder, geeignet für den Aufenthalt von bis zu sechs Personen. Im Haus ist eine moderne, voll ausgestattete Einbauküche vorhanden. Zusätzlich steht ein separater Waschraum inkl. Waschmaschine zur Verfügung. 
  	</p>

  	<p>
  		Die Lage in den Dünen, mitten im Grünen sowie die drei eigenen Terrassen mit Tisch, Stühlen und Sonnenliegen haben einen besonderen Reiz. Zum Strand sind es nur zehn Gehminuten. Einkaufsmöglichkeiten und Speiserestaurants sind in unmittelbarer Umgebung leicht zu erreichen.
  	</p>	
  </div>
</div>