<div class="jumbotron opacity80">
  <h2>Impressum</h2>
  <p class="lead">
    Ferienhaus Jerk auf Ameland.
  </p>
  
</div>

<div class="container">
<div class="well opacity80 align-center">

  	<span>
		<p>
  		Hermann Hesselink </br>
  		Sandhook 36 </br>
  		48531 Nordhorn </br>
		</p>
	</span>

	<span>
		<p>
		Realisierung des Internetauftritts: </br>
		Sebastian Heckmann, Dortmund
		</p>
	</span>

	<span>
	</p>
		Fotos: </br>
		(c) Franz Frieling, Nordhorn
	</p>
	</span>

	<span> 
	<p>
		Haftungsausschluss:
		Trotz sorgfältiger inhaltlicher Kontrolle wird keine Haftung für die Inhalte externer Links übernommen. Für den Inhalt der verlinkten Seiten tragen die Verantwortung ausschließlich deren Betreiber, da wir keinen Einfluss auf die Gestaltung haben. Es besteht die Möglichkeit, dass andere Anbieter auf unsere Webseiten verweisen. Für die Darstellungen und den Inhalt dieser Webseiten sind wir ebenfalls nicht verantwortlich. Im übrigen ist eine Haftung, wenn überhaupt, auf Vorsatz oder grobe Fahrlässigkeit beschränkt.</br>

		Rechtshinweis:
		Wir übernehmen keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der bereit gestellten Informationen. Im Übrigen bleiben Irrtümer und Änderungen ausdrücklich vorbehalten. Dies gilt insbesondere für die Vollständigkeit, Richtigkeit und Aktualität der auf diesen Seiten veröffentlichten Preise und Termine. Reservierungen bleiben bis zur schriftlichen Bestätigung für beide Seiten unverbindlich.</br>

		Trotz sorgfältiger Beschaffung und Bereitstellung der Informationen wird keine Haftung für die Richtigkeit, Vollständigkeit und Aktualität der im Rahmen des Informationsservices zum Abruf bereit gehaltenen und angezeigten Inhalte. Die zum Abruf bereit gehaltenen und angezeigten Inhalte dienen ausschließlich der Information der Besucher unseres Online-Angebotes und stellen keine Beratung oder sonstige Empfehlung dar.

		Diese Webseiten, ihre Struktur und sämtliche darin enthaltenen Funktionalitäten, Informationen, Daten, Texte, Bild- und Tonmaterialien sowie alle zur Funktionalität dieser Webseiten eingesetzten Komponenten unterliegen dem gesetzlich geschützten Urheberrecht. Der Besucher unseres Online-Angebotes darf die Inhalte nur im Rahmen der angebotenen Funktionalitäten der Webseiten für seinen persönlichen Gebrauch nutzen und erwirbt im übrigen keinerlei Rechte an den Inhalten und Programmen. Soweit wir dem Besucher Software zum Download im Rahmen der Webseiten anbieten, beschränkt sich die Nutzungsberechtigung für ihn auf die persönliche Verwendung im Rahmen der Nutzung der Webseiten.</br>

		Angaben nach § 6 TDG (Teledienstegesetz)</br>
</p>
</span>
  </div>
</div>

