<div class="jumbotron opacity80">
  <h2>Kontaktinformationen</h2>
  <p class="lead">
    So können Sie uns erreichen.
  </p>
  
</div>

<div class="container">
<div class="well opacity80 align-center">

  	<p>
  		Wenn Sie unsere Ferienwohnung buchen möchten, melden Sie sich bitte bei: 
	</p>
	<p> Hermann Hesselink </br>
	Telefon: 05921- ?????? </br>
	Oder
	<span id="obf"><script>document.getElementById("obf").innerHTML="<n uers=\"znvygb:u.urffryvax@tzk.qr\" gnetrg=\"_oynax\">Xbagnxgvrera Fvr haf cre Rznvy</n>".replace(/[a-zA-Z]/g,function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);});document.body.appendChild(document.createElement("span"));</script>
	<noscript><span style="unicode-bidi:bidi-override;direction:rtl;">ed.xmg@knilesseh.h</span></noscript></span>
	</p>
  </div>
</div>