<div class="jumbotron opacity80">
  <h2>Herzlich Willkommen</h2>
  <p class="lead">
    auf der Homepage der Ferienwohnung Jerk auf Ameland.
  </p>
  
</div>

<div class="container">
<div class="well opacity80">

  	<p>
  		Wir freuen uns Sie auf unserer Homepage begrüßen zu dürfen. Hier finden Sie einige Informationen über unsere Ferienwohnung JERK auf Ameland.
  	</p>	

  	<p> 
  		Wir würden uns freuen Sie bald als Gast in unserer Ferienwohnung begrüßen zu dürfen
	</p>

	<p>
		<strong>Ihre Familie Hesselink</strong>
	</p>
  </div>
</div>
